html, body {
    margin: 100px;
    height: 100%;
  }
  
body {
    margin: 50px;
    margin-left: 100px;

    /* This centers our sketch horizontally. */
    justify-content: center;

    background-color: rgb(236, 226,208);
}

#controls {
    margin: 20px;

    display: flex;
    justify-content: center;
    /* This centers our sketch vertically. */
    align-items: center;
}

#main {
    display: flex;


    /* This centers our sketch vertically. */
    align-items: center;
}

#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
  }
  
  #light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
  }
  
  #boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
  }
  
  #fade:hover ~ #boxclose {
    display:none;
  }

  *, *::after, *::before {
    box-sizing: border-box;
  }

  .preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: rgb(23, 22, 22);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transition: opacity 0.3s linear;
  }